@charset "UTF-8";
/* personal用 */

html {
    font-size: 100%;
    font-family: "Noto Sans JP", sans-serif;
}

.container {
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    height: 100px;
}

.top-link {
    display: flex; 
    align-items: center;
}

.top-link a{
    display: flex;
    text-decoration: none;
}

.title {
    color: #0279c4;
    margin-left: 55px;
    display: flex;
    align-items: center;
    font-size: 60px;
}

img {
    align-self: center;
    height: 75px;
    width: 75px;
    margin: 15px;
}

.top {
    text-decoration: none;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 303px;
    height: 60px;
    background-color: #0279c4;
    color: #ffffff;
    position: relative;
    margin-right: 50px;
    margin-left: auto;
}

.top p::after {
    content: '＞';
    position: absolute; 
    right: 10px; 
}

.person-title {
    display: flex;
    justify-content: center;
    font-size: 28px;
    color: #333333;
    margin: 60px auto 45px;
    border: solid 1px;
    width: 550px;
    height: 70px;
    align-items: center;
    border-left-width: 20px;
    border-left-color: #0279c4;
}

.personal-data {
    border: solid 1px #666;
    width: 550px;
    margin: 0 auto 40px;
    color: #333333;
    font-size: 18px;
    padding: 20px 20px;
}

.personal-data dl dd {
    overflow-wrap: break-word;
}

.edit {
    display: flex;
    justify-content: center;
    margin: 0 auto 60px;
}

.edit a {
    margin: 0 10px;
}

.person-dlt,
.person-edit,
.ptop {
    font-size: 24px;
    width: 303px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    position: relative;
}

.person-dlt {
    background-color: #dc3545;
}
.person-edit {
    background-color: #333333;
}
.ptop {
    background-color: #0279c4;
}
.edit a {
    text-decoration: none;
    color: #ffffff;
}

.person-dlt::after,
.person-edit::after,
.ptop::after {
    content: '＞';
    position: absolute; 
    right: 10px; 
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(153, 153, 153, 0.5);
}


.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 680px;
    height: 250px;
    background-color: white;
    padding: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center; 
}

.modal-content p {
    font-size: 24px;
    margin-bottom: 20px;
}

.close-button {
    position: absolute;
    top: -10px; 
    right: -10px; 
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border: 1px solid #000000;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 28px; 
}


.delete-btn,
.cancel-btn {
    font-size: 24px;
    width: 303px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: #ffffff;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    position: relative;
}

.delete-btn {
    text-decoration: none;
    background-color: #dc3545;
}

.delete-btn::after,
.cancel-btn::after {
    content: '＞';
    position: absolute;
    right: 10px;
}