@charset "UTF-8";
/* regist-company用 */

html {
    font-size: 100%;
    font-family: "Noto Sans JP", sans-serif;
}

.container {
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    height: 100px;
}

.title {
    color: #0279c4;
    margin-left: 55px;
    display: flex;
    align-items: center;
    font-size: 60px;
}

img {
    align-self: center;
    height: 75px;
    width: 75px;
    margin: 15px;
}

.top-link {
    display: flex; 
    align-items: center;
}

.top-link a{
    display: flex;
    text-decoration: none;
}

.top {
    text-decoration: none;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 303px;
    height: 60px;
    background-color: #0279c4;
    color: #ffffff;
    position: relative;
    margin-right: 50px;
    margin-left: auto;
}

.top p::after {
    content: '＞';
    position: absolute; 
    right: 10px; 
}

.regist-title {
    display: flex;
    justify-content: center;
    font-size: 28px;
    color: #333333;
    margin: 60px auto 45px;
    border: solid 1px #666666;
    width: 550px;
    height: 70px;
    align-items: center;
    border-left-width: 20px;
    border-left-color: #0279c4;
}

.company-regist {
    display: grid;
}

.company-regist label{
    font-size: 18px;
    color: #333333;
}

.company-regist  div {
    margin: 0 auto;
}

.input {
    border-style: solid;
    border-width: 1px;
    width: 550px;
    height: 45px;
    margin: 0 auto;
    color: #666666;
    margin-bottom: 40px;
    background-color: #fff; 
}

.input-container.error .input {
    margin-bottom: 70px;
}

.invalid {
    background-color: #ff9999;
}

.input-container {
    position: relative;
}

.error-message, 
.error-message2, 
.error-message3 {
    color: red;
    font-size: 18px;
    display: none;
    position: absolute;
    bottom: 40px; 
    left: 0;
}
.error-message2.active {
    bottom: 46px; 
}

.error-message3.active {
    bottom: 25px;
}

.regi-btn {
    font-size: 24px;
    width: 303px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0279c4;
    color: #ffffff;
    margin: 0 auto 75px;
}

.regi-btn-wrap {
    position: relative;
}

.regi-btn-wrap::after {
    content: '＞';
    position: absolute;
    right: 10px;
    bottom: 87px;
    color: #ffffff;
    font-size: 24px;
}